<a href="https://colab.research.google.com/github/Yvonne511/511/blob/main/USA_for_UNHCR_Data_Exploration.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import os 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
pd.options.mode.chained_assignment = None

from sklearn.model_selection import train_test_split 
from sklearn.preprocessing import OneHotEncoder 
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

In [ ]:
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

**Importing Donors Dataset**

In [ ]:
df = pd.read_csv('drive/MyDrive/unhcr/provided/data/USAforUNHCR_LeadGen_Contact.csv')

In [ ]:
df.head()

,id,accountid,createddate,membership_type__c,origin_source__c,first_gift_date__c,first_gift_amount__c,mrc_date__c,mrc_amount__c,current_calendar_year_total_amount__c,current_calendar_year_total_transactions__c,previous_calendar_year_total_amount__c,previous_calendar_year_total_transaction__c,total_amount__c,total_transactions__c,email,phone
0,0031K0000385UfTQAU,0011K00002THOH6QAP,2022-01-01 22:13:31+00,Donor Prospect,2021_Yem_YT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1
1,0031K0000385Ur0QAE,0011K00002THOSxQAP,2022-01-02 03:37:18+00,Donor Prospect,2021_Afg_YT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1
2,0031K0000385UvRQAU,0011K00002THOZ6QAP,2022-01-02 07:41:17+00,Donor Prospect,2021_Yem_YT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1
3,0031K0000385VY1QAM,0011K00002THPEKQA5,2022-01-02 17:13:39+00,Donor Prospect,2021_Afg_YT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1
4,0031K0000385WKhQAM,0011K00002THQ1zQAH,2022-01-03 02:48:07+00,Donor Prospect,2021_Afg_YT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1

In [ ]:
df.columns

Index(['id', 'accountid', 'createddate', 'membership_type__c',
       'origin_source__c', 'first_gift_date__c', 'first_gift_amount__c',
       'mrc_date__c', 'mrc_amount__c', 'current_calendar_year_total_amount__c',
       'current_calendar_year_total_transactions__c',
       'previous_calendar_year_total_amount__c',
       'previous_calendar_year_total_transaction__c', 'total_amount__c',
       'total_transactions__c', 'email', 'phone'],
      dtype='object')

id: contact Id, link to other table
accountid: household
createddate: when they enter the dataset
membership_type__c
origin_source__c: YT (youtube adds)
mrc: most recent contribution

In [ ]:
df['membership_type__c'].unique()

array(['Donor Prospect', 'Individual Donor', 'Major Donor', 'Mid-Level',
       'Organization'], dtype=object)

In [ ]:
df['origin_source__c'].unique()

array(['2021_Yem_YT', '2021_Afg_YT', '2021_ClimateChange_Web',
       '2021_Resettlement_FB', '2022_Yemen_FB', '2022_Ukraine_CS',
       '2022_SeekSafety_ADV_Email', '2021_Winter_FB',
       '2022_DailyKos_AfgWinter', '2022_Ukraine_Adv_JG',
       '2022_Mediterranean_DailyKos', '2022_DailyKos_WinterStorms',
       '2022_SeekSafety_ADV_DailyKos', '2022_DailyKos_Ukraine',
       '2022_Ukraine_Adv_DailyKos', '2021_HumanitarianDay',
       '2022_RefugeesEverywhere_Adv_DailyKos', '2022_Ukraine_JG',
       '2022_Winter_JG', '2022_Ukraine_Adv_MJ', '2022_Ukraine_Adv_Web',
       '2022_Ukraine_FB', '2022_Ukraine_Adv_Email',
       '2022_Ukraine_Adv_SMS', '2022_Ramadan_JG', '2022_Ukraine_Adv_FB',
       '2022_DailyKos_Ramadan', '2022_ThankStaffer_Email',
       '2022_Mediterranean_JG', '2022_RefugeesEverywhere_Adv_FB',
       '2022_RefugeesEverywhere_Adv_JG', '2022_SeekSafety_ADV_JG',
       '2022_SeekSafety_ADV_SMS', '2022_SeekSafety_ADV_Web',
       '2022_AfgEarthquake_JG', '2022_UkrStory_ADV_JG', '2021_Yemen_DK'],
      dtype=object)

In [ ]:
df.shape

(38741, 17)

In [ ]:
df.isnull().sum()

id                                                 0
accountid                                          0
createddate                                        0
membership_type__c                                 0
origin_source__c                                   0
first_gift_date__c                             38479
first_gift_amount__c                           38479
mrc_date__c                                    38479
mrc_amount__c                                  38479
current_calendar_year_total_amount__c          38479
current_calendar_year_total_transactions__c    38479
previous_calendar_year_total_amount__c         38479
previous_calendar_year_total_transaction__c    38479
total_amount__c                                38474
total_transactions__c                          38474
email                                              0
phone                                              0
dtype: int64

**Importing the Emails Dataset**

In [ ]:
df_email = pd.read_csv('drive/MyDrive/unhcr/provided/data/USAforUNHCR_LeadGen_Emails.csv')

In [ ]:
df_email.head()

,contactid,emailid,emailname,senddate,opendate,clickdate
0,0031K0000385TbjQAE,37925,201906 - Lead Gen Welcome - Email 1 - DM,2022-01-01 09:03:41.760000000,NaN,NaN
1,0031K0000385TiGQAU,37925,201906 - Lead Gen Welcome - Email 1 - DM,2022-01-01 09:03:41.760000000,NaN,NaN
2,0031K0000385TP9QAM,37925,201906 - Lead Gen Welcome - Email 1 - DM,2022-01-01 09:03:41.760000000,NaN,NaN
3,0031K0000385TQbQAM,37925,201906 - Lead Gen Welcome - Email 1 - DM,2022-01-01 09:03:41.760000000,NaN,NaN
4,0031K0000385TqzQAE,37925,201906 - Lead Gen Welcome - Email 1 - DM,2022-01-01 09:03:41.760000000,NaN,NaN

In [ ]:
df_email.columns

Index(['contactid', 'emailid', 'emailname', 'senddate', 'opendate',
       'clickdate'],
      dtype='object')

In [ ]:
df_email['emailname'].unique()

array(['201906 - Lead Gen Welcome - Email 1 - DM',
       '20220105 - EOY Thank You Engagement - full file - no ask',
       '201906 - Lead Gen Welcome - Email 2 - DM - Afghanistan',
       '201906 - Lead Gen Welcome - Email 2 - DM - Yemen',
       '201906 - Lead Gen Welcome - Email 3 - DM',
       '201906 - Lead Gen Welcome - Email 4 - DM - standard',
       '201906 - Lead Gen Welcome - Email 4 - DM - donor',
       '20220112 - Afghanistan Safa Engagement - new or engaged subscribers - monthly',
       '201906 - Lead Gen Welcome - Email 5 - DM - standard',
       '20220119 - Afghanistan Conversion Nazia Appeal - new or engaged subscribers - monthly',
       '20220125 - Afghanistan Conversion Fauzia Appeal - new or engaged subscribers - monthly',
       '20220128 - Lebanon Winter Storm Emergency Appeal - full file - one time',
       '20220131 - Afghanistan Myths Facts Engagement - new or engaged subscribers - monthly',
       '201905_NTF One Time Donor Welcome Journey_Email 3_DM',
       '20220209 - Membership Conversion Appeal - new or engaged subscribers - monthly',
       '20220215 - Winter Digital Newsletter Engagement - full file - monthly',
       '20220215 - Winter Digital Newsletter Engagement - active sustainers - no ask',
       '20220217 - Laura Blog Engagement - active sustainers - no ask',
       '20220217 - Laura Blog Engagement - new or engaged subscribers - monthly',
       '201905_NTF One Time Donor Welcome Journey_Email 5_DM_GiftCatalog',
       '201905_NTF One Time Donor Welcome Journey_Email 1_DM',
       '20220223 - Famine 101 Quiz Engagement - active 1x - monthly',
       '20220223 - Famine 101 Quiz Engagement - new or engaged subscribers - monthly',
       '201905_NTF One Time Donor Welcome Journey_Email 2_DM',
       '20220224 - Ukraine Emergency Appeal - active sustainers - one time',
       '20220224 - Ukraine Emergency Appeal - full file - one time',
       '20220225 - Ukraine Emergency RESEND Appeal - full file - one time',
       '20220227 - Blake Lively Ryan Reynolds Ukraine Appeal - full file - one time',
       '20220228 - Blake Lively Ryan Reynolds Ukraine RESEND Appeal - full file - one time',
       '20220302 - Ukraine Update Engagement - active sustainers - no ask',
       '20220302 - Ukraine Update Engagement - full file - one time',
       '20220308 - IWD Ukraine Engagement - active 1x - monthly',
       '20220308 - IWD Ukraine Engagement - active sustainers - no ask',
       '20220308 - IWD Ukraine Engagement - new or engaged subscribers - monthly',
       '20220310 - Storytellers Contest Engagement - full file - monthly',
       '201905_NTF One Time Donor Welcome Journey_Email 4_DM',
       '20220315 - Ukraine Facts Engagement - new or engaged subscribers - monthly',
       '20220315 - Ukraine Facts Engagement - active 1x - monthly',
       '201906 - Lead Gen Welcome - Email 2 - DM - Ukraine',
       '201905_NTF One Time Donor Welcome Journey_Email 3a_DM',
       '201905_NTF One Time Donor Welcome Journey_Email 5_DM_Standard',
       '20220324 - Ukraine 1 Month Engagement - midlevel - one time',
       '20220324 - Ukraine 1 Month Appeal - donors - monthly',
       '20220324 - Ukraine 1 Month Engagement - full file - one time',
       '20220329 - Ukraine Valentina Engagement - midlevel - one time',
       '20220329 - Ukraine Valentina Engagement - new or engaged subscribers - one time',
       '20220329 - Ukraine Valentina Engagement - active 1x - one time',
       '20220329 - Ukraine Valentina Engagement - donors - no ask',
       '20220329 - Ukraine Valentina Engagement - active sustainers - one time',
       '20220331 - Ukraine Petition Engagement - midlevel - one time',
       '20220331 - Ukraine Petition Engagement - donors - no ask',
       '20220331 - Ukraine Petition Engagement - full file - one time',
       '20220331 - Ukraine Petition Engagement - active sustainers - one time',
       '201905_NTF One Time Donor Welcome Journey_Email 6_DM',
       '20220406 - Ramadan 101 Engagement - midlevel - one time',
       '20220406 - Ramadan 101 Engagement - active sustainers - no ask',
       '20220406 - Ramadan 101 Engagement - full file - monthly',
       '20220408 - Ramadan Appeal - full file - monthly',
       '20220413 - Thank a Field Staffer Engagement - active sustainers - no ask',
       '20220413 - Thank a Field Staffer Engagement - full file - monthly',
       '201905_NTF One Time Donor Welcome Journey_Email 7_DM',
       '201906 - Lead Gen Welcome - Email 2 - DM - Mediterranean',
       '20220613 - Photo Frame Engagement - donors - no ask',
       'DMS Receipt',
       '20220614 - Asylum Explainer Engagement - full file',
       '20220614 - Asylum Explainer Engagement - active sustainers - no ask',
       '20220616 - WRD Petition Engagement - midlevel - one time - button a',
       '20220616 - WRD Petition Engagement - full file - button a',
       '20220616 - WRD Petition Engagement - full file - button b',
       '20220616 - WRD Petition Engagement - active sustainers - button b',
       '20220616 - WRD Petition Engagement - active sustainers - button a',
       '201903_Between Lives Welcome Journey_Email 1_DM',
       '201903_Between Lives Welcome Journey_Email 4_DM_Short',
       '20220620 - WRD Appeal - midlevel - one time',
       '20220620 - WRD Appeal - full file - monthly',
       '20220620 - WRD Appeal - active sustainers - one time',
       '201903_Between Lives Welcome Journey_Email 3_DM_Short',
       '20220622 - Afghanistan Earthquake Emergency Appeal - full file - monthly',
       '20220622 - Afghanistan Earthquake Emergency Appeal - active sustainers - one time',
       '20220623 - Afghanistan Earthquake RESEND Appeal - full file - monthly',
       '201903_Between Lives Welcome Journey_Email 6_DM_Short',
       '201903_Between Lives Welcome Journey_Email 5_DM_Short',
       '20220629 - WRD Haya and Ghena Story Engagement - full file - monthly',
       '20220629 - WRD Haya and Ghena Story Engagement - active sustainers - one time',
       '20220707 - Global Trends Engagement - full file - monthly',
       '20220707 - Global Trends Engagement - active sustainers - no ask',
       '201903_Between Lives Welcome Journey_Email 7_DM_Short',
       '20220714 - MN Ally Engagement - full file - monthly',
       '20220714 - MN Ally Engagement - midlevel - one time',
       '20220714 - MN Ally Engagement - active sustainers - no ask',
       '201903_Between Lives Welcome Journey_Email 2_DM_Short',
       '20220721 - Afghanistan Impact Appeal - full file - monthly',
       '20220721 - Afghanistan Impact Appeal - afg donors - monthly',
       '20220721 - Afghanistan Impact Appeal - ukr donors - one time',
       '20220721 - Afghanistan Impact Appeal - ukr donors - monthly',
       '20220721 - Afghanistan Impact Appeal - active sustainers - one time',
       '201903_Between Lives Welcome Journey_Email 10_DM_Short',
       '20220726 - Dewey Award Nomination Engagement - midlevel - no ask',
       '20220726 - Dewey Award Nomination Engagement - active sustainers - no ask',
       '20220217 - Laura Blog Engagement - active 1x - monthly',
       '20220227 - Blake Lively Ryan Reynolds Ukraine Appeal - active sustainers - one time',
       '20220310 - Storytellers Contest Engagement - active sustainers - no ask',
       '20220315 - Ukraine Facts Engagement - active sustainers - no ask',
       '20220324 - Ukraine 1 Month Engagement - active sustainers - one time',
       '20220614 - Asylum Explainer Engagement - midlevel - one time',
       '20220616 - WRD Petition Engagement - midlevel - one time - button b',
       '20220622 - Afghanistan Earthquake Emergency Appeal - midlevel - one time',
       '20220623 - Afghanistan Earthquake RESEND Appeal - midlevel - one time',
       '20220629 - WRD Haya and Ghena Story Engagement - midlevel - one time',
       '20220707 - Global Trends Engagement - midlevel - one time',
       '201903_Between Lives Welcome Journey_Email 9_DM_Short',
       '201903_Between Lives Welcome Journey_Email 8_DM_Short',
       '20220721 - Afghanistan Impact Appeal - midlevel - one time',
       '20220223 - Famine 101 Quiz Engagement - active sustainers - no ask',
       '201906 - Lead Gen Welcome - Email 2 - DM - Syria',
       '20220413 - Thank a Field Staffer Engagement - midlevel - one time'],
      dtype=object)

In [ ]:
df_email.shape

(398061, 6)

In [ ]:
df_email.isnull().sum()

contactid         0
emailid           0
emailname         0
senddate          0
opendate     308887
clickdate    392130
dtype: int64